<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Symfony !</title>
       
    </head>
    <body>
        <p> Je suis sur la page DETAIL d'ID = {{ monid }}! </p>
        Je veux aller à la page <a href="{{ path ('default_index') }}"> retour </a>
    </body>
</html>
