<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Symfony !</title>
       
    </head>
    <body>
        <p> Nous sommes sur la page LIST ALL !</p>
    </body>
</html>
