<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to Symfony !</title>
       
    </head>
    <body>
        <p> Nous sommes sur la page LIST ALL !</p>
        <a href="{{ path ('default_index') }}"> retour à la page d'accueil</a>
    </body>
</html>
