<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title> {% block title %} Welcome to Symfony ! {% endblock %} </title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">

        {% block link_css %} {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block footer %}<h3>  block FOOTER ! </h3> {% endblock %}

    </body>
</html>
